@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

#contato {
    width: 100%;
    background-color: #b90000;
    color: white;
    display: flex;
    justify-content: space-between;
}

#esquerda0, #direita0 {
    display: flex;
    align-items: center;
    padding: 8px;
}

.esquerda0, .direita0 {
    font-size: 0.8em;
    margin-right: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.imgContato{
    width: 50px;
    height: 15px;
}

/* FIM Header */

/* Seção de busca */

#secaoBusca {
    padding-top: 4vh;
    background-color: #FF0000;
}

#busca{
    padding: 10px;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lupa {
    width: 30px;
    height: 10px;
}

#cesta {
    width: 60px;
    height: 40px;
}

#logoAmericanas {
    width: 25vw;
    height: 8vh;
}

label {
    color: white;
}

input {
    width: 500px;
}

#carrinho {
    display: flex;
    justify-content: center;
}



/* FIM Seção de busca */